
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>

<p>
    Know Before You Go is a website whose purpose is give prosepective
    missionaries the chance to learn as much as they can about their missions before they head into the field. We have information on missions from around the world. This is your one stop for information about climate, culture, and the overall mission experience!
</p>
<p>If you have any questions or comments stop by our contact page to send us a message!</p>