@model IEnumerable<ProjectTwo.Models.Users>


@{
    ViewBag.Title = "Index";
}

<!--This is the call to action jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Welcome Future Missionaries!</h1>
        <p class="lead">Check out all of the awesome content that returned missionaries from your mission have provided.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<!--This is the image-->
<div class="container">
    <p>
        <center>
            <img src="https://www.mormonnewsroom.org/media/960x540/Africa-missionaries.jpg" class="img-fluid float-left" style="width:50%">
        </center>
    </p>
    <div style="padding:12px">
        <p>
            A missionary’s purpose is to “invite others to come unto
            Christ by helping them receive the restored gospel through faith in Jesus Christ and His Atonement, repentance,
            baptism, receiving the gift of the Holy Ghost, and enduring to the end” (Preach My Gospel: A Guide to Missionary
            Service [2004], 1). If you desire to fulfill this purpose, what can you do to prepare?
            <br /><br /><br /><br /><br /><br />
        </p>
    </div>
</div>

<!--This is the quote from Gordon B. Hinckley-->
<div class="jumbotron">
    <blockquote class="blockquote text-right">
        <p class="mb-0">
            “Let me say that we appreciate the truth in all churches and the good which they do. We say to <br />
            the people, in effect, you bring with you all the good that you have, and then let us see if we <br />
            can add to it. That is the spirit of this work. That is the essence of our missionary service” <br />
        </p>
        <footer class="blockquote-footer"><cite title="Source Title">Gordon B. Hinckley</cite></footer>
    </blockquote>
</div>

<center>
    <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/W0-0nniCz6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media;
          gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</center>
